.readnews {
    width: 1000px;
    height: 452px;
  }
  .readnews p {
    width: 400px;
     height: 50px;
    color: #050506;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    margin-left: 140px;
    margin-bottom: 30px;
  }
  .readnews .news {
    width: 1000px;
    height: 350px;
    margin-left: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;
  }
  
  .readnews .news .one {
    width: 200px;
    height: 350px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .readnews .news .one img {
    width: 200px;
    height: 190px;
    border-radius: 7px;
    margin-top: 10px;
  }
  
  .readnews .news .one h5 {
    width: 200px;
    height: 60px;
    color: #010206;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: -20px;
    margin-left: 5px;
  }
  
  .readnews .news .one p {
    width: 200px;
    height: 60px;
    margin-left: 0px;
    color: #010206;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    line-height: 15px;
    margin-left: 5px;
  
  }
  .readnews .news .two {
    width: 205px;
    height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
  
  .readnews .news .two img {
    width: 200px;
    height: 190px;
    border-radius: 7px;
    margin-bottom: 8px;
  }
  
  .readnews .news .two h5 {
    width: 200px;
    height: 60px;
    color: #010206;
    margin-left: 5px;
  
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: -20px;
  }
  
  .readnews .news .two p {
    width: 204px;
    height: 60px;
    margin-left: 0px;
    margin-left: 5px;
  
    color: #010206;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
  }
  .readnews .news .three {
    width: 205px;
    height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
  
  .readnews .news .three img {
    width: 200px;
    height: 190px;
    border-radius: 7px;
    margin-bottom: 8px;
  }
  
  .readnews .news .three h5 {
    width: 200px;
    height: 60px;
    margin-left: 5px;
  
    color: #010206;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: -20px;
  }
  
  .readnews .news .three p {
    width: 200px;
    height: 60px;
    margin-left: 0px;
    margin-left: 5px;
  
    color: #010206;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
  }
  .readnews .news .four {
    width: 205px;
    height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }
  
  .readnews .news .four img {
    width: 200px;
    height: 190px;
    border-radius: 7px;
    margin-bottom: 8px;
  }
  
  .readnews .news .four h5 {
    width: 209px;
    height: 60px;
    color: #010206;
    margin-left: 5px;
  
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: -20px;
  }
  
  .readnews .news .four p {
    width: 200px;
    height: 60px;
    margin-left: 0px;
    color: #010206;
    font-family: Roboto;
    margin-left: 5px;
  
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
  }
  